/ From https://github.com/xndcn/symbols-tree-view
@import "ui-variables";
@import "syntax-variables";
@font-face {
  font-family: "symbol-icons";
  src: url("atom://atom-typescript/images/symbol-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@symbol-class: "\e600";
@symbol-struct: "\e601";
@symbol-macro: "\e602";
@symbol-typedef: "\e603";
@symbol-union: "\e604";
@symbol-interface: "\e605";
@symbol-enum: "\e606";
@symbol-variable: "\e607";
@symbol-function: "\e608";
@symbol-namespace: "\e609";
.symbol-icon(@type, @symbol: @type, @color: @symbol) {
  .icon-@{type}::before {
    @scontent: "symbol-@{symbol}";
    @scolor: "syntax-color-@{color}";
    font-family: "symbol-icons";
    content: @@scontent;
    color: @@scolor;
  }
}
